body{
font-family: Arial;
margin:40px;
background:#f4f6f8;
}

h1{
color:#1e3a8a;
}

table{
border-collapse: collapse;
}

th,td{
padding:8px;
border:1px solid #ccc;
}

a{
text-decoration:none;
margin-right:10px;
color:#2563eb;
}